<p>
  <%= f.label :content, "Question" %>
  <%= f.text_field :content %>
</p>
<%= f.fields_for :answers do |builder| %>
    <%= render 'votings/answers', :f => builder %>
<% end %>
<p><%= link_to_add_fields "Add Answer", f, :answers %></p>