<div><%= will_paginate @posts, :class => 'left' %></div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="width:5%">ID:</th>
        <th style="width:20%">Title:</th>
        <th style="width:15%">Category:</th>
        <th style='width:15%'>Created:</th>
        <th style="width:13%">Comments: <i class="icon-comment muted"></i></th>
        <th style="width:20%">Visits: <i class="icon-eye-open muted"></i></th>
        <th>Actions:</th>
      </tr>
      </thead>
      <% @posts.each do |post| %>
          <tbody>
          <tr>
            <td><%= post.id %></td>
            <td><%=link_to truncate(post.title, :length => 10), post  %></td>
            <td><%= raw post.tag_list %></td>
            <td><p class="muted"><%= post.created_at.to_date %></p></td>
            <td>
              <% if post.comments.count != 0 %>
                <span class="label label-info"><%= post.comments.count %></span>
              <% elsif(post.comments.count == 0) %>
                <span class="label label-important"><%= post.comments.count %></span>
              <% end %>
            </td>
            <td>
              <% if post.impression_count != 0 %>
                <span class="label label-success"><%= post.impression_count %></span>
              <% elsif(post.impression_count == 0) %>
                <span class="label label-important"><%= post.impression_count %></span>
              <% end %>
            </td>
            <td>
              <%= link_to " Edit", edit_post_path(post) %>
              <%= link_to "Delete",post, method: :delete,
                          data: { confirm: "You sure?" } %>
            </td>
          </tr>
          </tbody>
      <% end %>
  </table>
<div><%= will_paginate @posts, :class => 'left' %></div>

