<div id="content">
  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#user" data-toggle="tab">Users (<%= @users.count %>)</a></li>
    <li><a href="#admins" data-toggle="tab">Admins (<%= @admins.count %>)</a></li>
  </ul>
  <div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="user">
      <div class="container-admin">
       <p>Users</p>
      </div>
      <div><%= will_paginate @users, :class => 'left' %></div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th style="width:5%">ID:</th>
          <th style="width:20%">Name:</th>
          <th style="width:15%">Email:</th>
          <th style='width:15%'>Created: <i class="icon-time muted"></i></th>
          <th>Actions: <i class=" icon-wrench muted"></i></th>
        </tr>
        </thead>
        <% @users.each do |user| %>
            <tbody>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to user.name, user %></td>
              <td><%= user.email %></td>
              <td><%= user.created_at.to_date %></td>
              <td>
                <%= link_to "Delete",user, method: :delete,
                            data: { confirm: "You sure?" } %>
              </td>
            </tr>
            </tbody>
        <% end %>
      </table>
      <div><%= will_paginate @users, :class => 'left' %></div>
    </div>
    <div class="tab-pane" id="admins">
      <div class="container-admin">
        <p>Admin </p>
      </div>
      <div><%= will_paginate @admins, :class => 'left' %></div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th style="width:5%">ID:</th>
          <th style="width:15%">Email:</th>
          <th style='width:15%'>Created: <i class="icon-time muted"></i></th>
        </tr>
        </thead>
        <% @admins.each do |admin| %>
            <tbody>
            <tr>
              <td><%= admin.id %></td>
              <td><%= admin.email %></td>
              <td><%= admin.created_at.to_date %></td>
            </tr>
            </tbody>
        <% end %>
      </table>
      <div><%= will_paginate @admins, :class => 'left' %></div>
    </div>
  </div>
</div>
<div><%= will_paginate @users, :class => 'left' %></div>
