<h4 class="left">Admins:</h4>
<div><%= will_paginate @admins, :class => 'left' %></div>
<table class="table table-hover">
  <thead>
  <tr>
    <th style="width:5%">ID:</th>
    <th style="width:15%">Email:</th>
    <th style='width:15%'>Created: <i class="icon-time muted"></i></th>
    <th style='width:15%'>Actions: <i class=" icon-wrench muted"></i></th>
  </tr>
  </thead>
  <% @admins.each do |admin| %>
      <tbody>
      <tr>
        <td><%= admin.id %></td>
        <td><%= admin.email %></td>
        <td><%= admin.created_at.to_date %></td>
        <td><%= link_to 'Change password',  edit_admin_registration_path %></td>
      </tr>
      </tbody>
  <% end %>
</table>
<div><%= will_paginate @admins, :class => 'left' %></div>
