<div class="index-container" xmlns="http://www.w3.org/1999/html">
  <% @posts.each do |post| %>
      <div class="post-container">
        <%=link_to post.title, post %><br/>
        Category: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
        <small class="muted"><div class="right">Created: <%= time_ago_in_words(post.created_at) %> ago.</div></small><br/>

        <% if (Date.today.day == post.created_at.to_date.day)%>
            <span class="label">New</span>
        <% end %>
        <small><i class="icon-comment muted"><%= post.comments.size %></i></small>
        <small><i class="icon-eye-open muted"><%= post.impression_count %></i></small>
        <% if (admin_signed_in? && current_admin.voted_for?(post) == false) || (user_signed_in? && current_user.voted_for?(post) == false) %>
           <%= link_to "#{post.votes.size} ", {:controller =>"posts", :action => "upvote", :id => post.id}, :class => 'btn btn-small icon-thumbs-up', method: :put  %>
        <% else %>
            <%= link_to "#{post.votes.size}", {}, :class => 'btn btn-small disabled icon-thumbs-up'   %>
        <% end %>
      </div>
      <br/>
  <% end %>
</div>
<div class="pagination-posts"><%= will_paginate @posts, :class => 'center' %></div>