<%= render 'layouts/header_admin' %>

<% if @games.present? %>
<% @games.each do |game| %>
    <div class="center" style="padding: 1%">
        <div class="left">
          <%= game.date %>
          (<%= game.location %>)
        </div>
        <% if game.location == "Home" %>
           <%= game.clubs.first.clubname %>
           <%= game.clubs.last.clubname  %>
        <% elsif(game.location == "Away") %>
           <%= game.clubs.last.clubname  %>
           <%= game.clubs.first.clubname  %>
        <% end %>
        <div class="right">
          <%= link_to "Edit ", edit_game_path(game) %>
          <%= link_to "Delete", game, method: :delete, data: { confirm: "You sure?" } %></div>
    </div>
<% end %>
<% else %>
    <h4 class="center">Games not found...</h4>
<% end %>