<%= render "layouts/datepicker" %>
<div class="center">
  <h2>Create player</h2>

  <%= form_for [@club,@player] do |p| %>
      <% if @player.errors.present? %>
          <div class="alert alert-error fade in">
            <ul>
              <h4><%= @player.errors.count > 1  ? "You have #{@player.errors.count} errors" : "You have #{@club.errors.count} error"%></h4>
              <% @player.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div><%= p.label :first_name %><br />
        <%= p.text_field :first_name %></div>

      <div><%= p.label :last_name %><br />
        <%= p.text_field :last_name %></div>

      <div><%= p.label :number %><br />
        <%= p.text_field :number %></div>

      <div><%= p.label :position %><br />
        <%= p.text_field :position %></div>

      <div><%= p.label :country, "Country" %><br />
        <%= p.text_field :country %></div>

      <div>
        <%= p.label :club %>
        <%= p.collection_select :club_id, Club.all, :id, :clubname %>
      </div>

      <div><%= p.label :birthday %><br />
        <%= p.text_field :birthday, :id => 'datepicker' %></div>

      <div><%= p.label :photo %><br />
        <%= p.file_field :photo %></div>

      <div><%= p.submit "Create" %></div>
  <% end %>
</div>
