<center><h2>Edit posts</h2>

  <%= form_for(@post) do |post| %>

      <div><%= post.label :title %><br />
        <%= post.text_field :title, :autofocus => true %></div>

      <div><%= post.label :tag_list, "Tags" %><br />
        <%= post.collection_select(:tag_list, @club_list, :clubname, :uniq_title, :include_blank => false) %></div>

      <div><%= post.label :text %><br />
        <%= post.cktext_area :text, :cols => 40, :ckeditor => {:toolbar => "mini"} %></div>

      <div><%= post.submit "Edit" %></div>
  <% end %>
</center>
