<div class="admin-link">
  <%= link_to 'New posts', new_post_path, :class => 'right btn btn-small' %>
</div>
<div style="padding-top: 2%">
  <%= form_tag posts_path, :method => 'get' do %>
      <%= text_field_tag :search, nil, :placeholder => "Search posts..." %>
      <div class="btn-group" style="margin-top: -10px;">
        <%= submit_tag "Search", :name => nil, :class=>'btn btn-small' %>
        <%= link_to 'Reset', posts_path, :class=> 'btn btn-small btn-danger' %>
      </div>
  <% end %>
  <%= "Found: #{@posts.count}" if params[:search] %>
</div>
<% if @posts.present? %>
<h4 class="left">Posts:</h4><br/>
<div><%= will_paginate @posts, :class => 'right' %></div>
<table class="table table-hover">
  <thead>
  <tr>
    <th style="width:5%">ID:</th>
    <th style="width:20%">Title:</th>
    <th style="width:15%">Category:</th>
    <th style='width:15%'>Created:</th>
    <th style="width:13%">Comments:</th>
    <th style="width:20%">Visits:</th>
    <th style="width:20%">Actions:</th>
  </tr>
  </thead>
  <% @posts.each do |post| %>
      <tbody>
      <tr>
        <td><%= post.id %></td>
        <td><%=link_to truncate(post.title, :length => 10), post  %></td>
        <td><%= raw post.tag_list %></td>
        <td><p class="muted"><%= post.created_at.to_date %></p></td>
        <td>
          <% if post.comments.count != 0 %>
              <span class="label label-info"><%= post.comments.count %></span>
          <% elsif(post.comments.count == 0) %>
              <span class="label label-important"><%= post.comments.count %></span>
          <% end %>
        </td>
        <td>
          <% if post.impression_count != 0 %>
              <span class="label label-success"><%= post.impression_count %></span>
          <% elsif(post.impression_count == 0) %>
              <span class="label label-important"><%= post.impression_count %></span>
          <% end %>
        </td>
        <td>
          <%= link_to " Edit", edit_post_path(post) %>
          <%= link_to "Delete",post, method: :delete,
                      data: { confirm: "You sure?" } %>
        </td>
      </tr>
      </tbody>
  <% end %>
</table>
<div><%= will_paginate @posts, :class => 'right' %></div>
<% else %>
    <h4 class="center">Posts not found...</h4>
<% end %>

