<center><h2>Create posts</h2>

  <%= form_for(@post) do |post| %>

      <div><%= post.label :title %><br />
        <%= post.text_field :title, :autofocus => true %></div>

      <div><%= post.label :text %><br />
        <%= post.text_field :text, :row => 6  %></div>

      <div><%= post.submit "Create" %></div>
  <% end %>
</center>
