<h4><%= @post.title %></h4>
<%= @post.text.html_safe %>
<hr>
<%  for comment in @post.comments  %>
    <div class="well well-small">
      <div class="right"><%= link_to "Delete", comment, :class => 'right', method: :delete,
                                                        data: { confirm: "You sure?" } if current_admin %></div>
      <%= comment.comment %>
      <div class="right muted">
        <%= comment.created_at.to_date %>
      </div>
    </div>
<% end %>

<% if user_signed_in? %>
    <% if banned == false %>
     <%= render 'comments/form' %>
    <% elsif(banned == true) %>
     <div class="banned">
       <h4>Sorry, your account is BANNED! You can not add comments.</h4>
     </div>
    <% end %>
<% elsif(admin_signed_in?) %>
    <%= render 'comments/form' %>
<% end %>
