<div class="admin-header">
    <div class="btn-group" data-toggle="buttons-checkbox"  data-toggle-name="checkbox_group">
      <%= link_to 'Posts', posts_path, :class=>'btn' %>
      <%= link_to 'Clubs', clubs_path, :class=>'btn' %>
      <%= link_to 'Players', players_path, :class=>'btn' %>
      <%= link_to 'Users', users_path, :class=>'btn' %>
      <%= link_to 'Admins', home_path, :class=>'btn' %>
    </div>
    <div class="right">
      <%= link_to 'New club', new_club_path, :class => 'right btn' if request.fullpath == "/clubs"  %>
      <%= link_to 'New posts', new_post_path, :class => 'right btn' if request.fullpath == "/posts"  %>
      <%= link_to 'New player', new_player_path, :class => 'right btn' if request.fullpath == "/players"  %>
    </div>
</div>